body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #0f0601;
}
.red {
    background-color: #4d4b4b;
    padding: 5px;
}

strong {
    color: #E53935;
}

.contenido {
    color: #0b0b0b;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
}

.footer {
    background: #f2f2f2;
    padding: 20px;
    border-top: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 40px;
    font-size: 14px;
    color: #666;
}

.navbar {
    background: #f2f2f2;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-radius: 10px;
}

.nav-link {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.2s;
}

.nav-link:hover {
    color: #0d5a03;
}

